<%= form_with(model: @wish_list, url: participant_wish_lists_path(@participant), local: true) do |form| %>
  <% if @wish_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish_list.errors.count, "error") %> prohibited this wish_list from being saved:</h2>

      <ul>
        <% @wish_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :font_reference %>
    <%= form.text_area :font_reference %>
  </div>

  <%= form.hidden_field :participant_id, value: @participant.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
