<div class="signup-container">
  <div class="signup-card">
    <h2 class="signup-title">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'signup-form' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-input', placeholder: 'Insira seu melhor e-mail' %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Senha", class: 'form-label' %>
        <% if @minimum_password_length %>
          <em class="password-hint">(Mínimo de <%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-input', placeholder: 'Insira uma senha' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirme sua senha", class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input', placeholder: 'Repetir senha' %>
      </div>

      <%= f.fields_for(:user_preference, html: { class: 'signup-form' }) do |pref| %>
        <div class="form-group">
          <%= pref.label :nickname, "Nome Completo", class: 'form-label'%>
          <%= pref.text_field :nickname, class: 'form-input', placeholder: 'Insira seu nome'  %>
        </div>

        <div class="form-group">
          <%= pref.label :age, "Idade", class: 'form-label'%>
          <%= pref.number_field :age, class: 'form-input', placeholder: 'Digite sua idade' %>
        </div>

        <div class="form-group">
          <%= pref.label :phone, "Telefone (WhatsApp)", class: 'form-label'%>
          <%= pref.telephone_field :phone, class: 'form-input', placeholder: '(00) 00000 0000' %>
        </div>

        <div class="form-group">
          <%= pref.label :cpf, "CPF", class: 'form-label'%>
          <%= pref.text_field :cpf, class: 'form-input', placeholder: '000.000.000-00' %>
        </div>

        <div class="form-group">
          <%= pref.label :cep, "CEP", class: 'form-label'%>
          <%= pref.text_field :cep, class: 'form-input', placeholder: '00000-000' %>
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit "Criar conta", class: 'btn-signup' %>
      </div>
    <% end %>

    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>