<%= form_with(model: secret_santa) do |form| %>
  <% if secret_santa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(secret_santa.errors.count, "error") %> prohibited this secret_santa from being saved:</h2>

      <ul>
        <% secret_santa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :maximum_number, style: "display: block" %>
    <%= form.number_field :maximum_number, min: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :prize_date, "Data da Premiação" %>
    <%= form.date_field :prize_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :event_type, "Tipo de Evento" %>
    <%= form.select :event_type, SecretSanta.event_types.keys.map { |type| [type.humanize, type] }, prompt: "Selecione o tipo de evento" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
