<div class="col">
  <div class="card h-100">
    <%= image_tag secret_santa.image.presence || "default-image.webp", class: "card-img-top fixed-dimensions", alt: secret_santa.name %>
    <div class="card-body">
      <h5 class="card-title"><%= secret_santa.name %></h5>
      <small class="card-text">Código: <%= secret_santa.code %></small>

      <div class="profile-container">
        <% if secret_santa.creator.user_preference.profile_picture.attached? %>
          <%= image_tag secret_santa.creator.user_preference.profile_picture, class: "profile-img", alt: secret_santa.creator.email %>
        <% else %>
          <div class="profile-initials">
            <%= secret_santa.creator.user_preference.initials %>
          </div>
        <% end %>
        <div class="profile-info">
          <p class="profile-name"><%= secret_santa.creator.user_preference.nickname %></p>
          <p class="profile-email"><%= secret_santa.creator.email %></p>
        </div>
      </div>

      <div class="features">
        <ul>
          <li><strong>Criador:</strong> <%= secret_santa.creator.email %></li>
        </ul>
      </div>

      <p>
        <%= link_to "Show this secret santum", secret_santa_path(secret_santa), class: 'btn btn-primary sign-up' %>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </div>
  </div>
</div>