<div id="<%= dom_id secret_santa %>">
  <p>
    <strong>Name:</strong>
    <%= secret_santa.name %>
  </p>

  <p>
    <strong>Criador:</strong>
    <%= secret_santa.creator.email %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= secret_santa.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= secret_santa.description %>
  </p>

</div>
