<div id="<%= dom_id user_preference %>">

  <% if user_preference.profile_picture.attached? %>
    <%= image_tag user.profile_picture, class: "profile-img", alt: user.name %>
  <% else %>
    <div class="profile-initials">
      <%= user_preference.initials %>
    </div>
  <% end %>

  <p>
    <strong>Nickname:</strong>
    <%= user_preference.nickname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user_preference.age %>
  </p>
</div>
