<nav class="navbar navbar-expand-lg" style="background-color: #006400;"> <!-- Verde Escuro -->
  <div class="container">
    <%= link_to root_path, class: "navbar-brand text-white" do %> <!-- Branco no texto -->
      <i class="fa-solid fa-house-chimney"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border-color: #FFD700;"> <!-- Dourado no botão -->
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Amigos ocultos", secret_santas_path, class: "nav-link text-white" %> <!-- Branco no texto -->
        </li>
        <li class="nav-item">
          <%= link_to "sorteios", root_path, class: "nav-link text-white" %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to edit_user_preference_path(current_user.id), class: "nav-link text-white" do %>
              <i class="fa-regular fa-user"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Criar conta", new_user_registration_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
